{% load static %}
{% load bootstrap3 %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <title>{% block title %}IceBook.com {% endblock title %}</title>
  </head>
  <body>

  {% include 'navbar.html' %}
     <div class="container">

       {% block content %} {% endblock content %}

     </div>


  {% block script %} {% endblock script %}

  <script>
    //auto search
  $(document).ready(function(){
    var typingTimer;
    var doneInterval=500; // in ms
    var searchInput=$("#navbar-search-form input[type=text]")
    var searchQuery;

    searchInput.keyup(function(event){

      searchQuery=$(this).val()
      clearTimeout(typingTimer)
      typingTimer=setTimeout(doneSearchTyping, doneInterval)
       
    })
    searchInput.keydown(function(event){   
      console.log(event.key)
      clearTimeout(typingTimer)
    })

    function doneSearchTyping(){
      if (searchQuery){
        //do search
        var url="/tweet/search/?q=" + searchQuery
        document.location.href = url;
      }
    }

  })

  </script>

  </body>
</html>